<tr>
  <th>
    Name
  </th>
  <th>
    Date of like
  </th>
</tr>
{{#each data as |datum|}}
  <tr>
    <td>
      {{datum.name}}
    </td>
    <td>
      {{datum.created_time}}
    </td>
  </tr>
{{/each}}
