// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Grid
$gutter: 20px;

// Typography
$base-font-family: "lato", sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 16px;

// Content
$content-pad: $gutter / 2;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 6px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$red: #ef5734;
$green: #46671B;
$yellow: #ffc000;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$almost-white: #eee;
$white: #fff;

// Interface Colors
$base-font-color: $dark-gray;
$base-background-color: #fff;
$base-border-color: $light-gray;
$action-color: $blue;
$negative-color: $red;

$secondary-background-color: tint($base-border-color, 75%);

// Border
// $base-border: 1px solid $base-border-color;
$base-border-size: 2px;
$base-border: $base-border-size solid $base-font-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);

// Animations
$base-duration: 150ms;
$base-timing: ease;
