.user-section {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center;

  & > * {
    margin: 1em;
  }

  & > .profile-picture {
    height: 4em;
    width: 4em;
    border-radius: 50%;
  }
  & > h1 {
    margin-left: 0;
    flex: auto;
  }
}
